server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:evsales;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql
mybatis:
  configuration:
    map-underscore-to-camel-case: true
logging:
  level:
    com.evsales: DEBUG
